@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
	content: "";
  position: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("img/Food.jpg") top right no-repeat;
  background-size: cover;
   left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  justify-content: center;
}

.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 50px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.8);
}
.container h1 {
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
}
.container form {
  margin-top: 30px;
}
form .field {
  margin-bottom: 20px;
}
form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}
.invalid input {
  border-color: #d93025;
}
.input-field .show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #f28517;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn{
	justify-content: center;
	text-align: center;
	padding-bottom:15px;
}
.h1{
	text-align:center;
	color: #FFF;
}
.link{
	text-align:center;
	color: #FFF;
}